@inject LocalStorageService LocalStorageService
@inject NavigationManager Navigation

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private LoginResponse? loginResponse;
    private string rol = "";

    protected override async Task OnInitializedAsync()
    {
        loginResponse = await LocalStorageService.ObtenerObjetoAsync<LoginResponse>("loginResponse");
        rol = loginResponse?.usuario?.Rol ?? "";
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorageService.LimpiarAsync();
        Navigation.NavigateTo("/login", true);
    }
}
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TeacherBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">


    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (rol == "ADMINISTRADOR")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin-dashboard">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Admin Dashboard
                </NavLink>
            </div>
        }
        @if (rol == "DOCENTE")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="teacher-dashboard">
                    <span class="bi bi-mortarboard-fill-nav-menu" aria-hidden="true"></span> Teacher Dashboard
                </NavLink>
            </div>
        }
        @if (loginResponse?.usuario != null)
        {
            <div class="nav-item px-3">
                <button class="nav-link btn btn-link text-start" @onclick="Logout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Cerrar Sesión
                </button>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
    </nav>



</div>
